doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/CSS/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   article.container
     each l in lego
       div.profiles
         div
           img.lego-image(src=`/images/${l.imgSrc}`)
         h2.profiles-name
           | #{l.setName} 
         a(href=`/profile?id=${l.id}`)
           | Vedi Istruzioni