doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/CSS/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
      h1 #{title}
   div.profile
     div.lego-image
       img (style=`background: url('/images/${l2.imgSrc}') ;`)
     div.profile-details
       h1.profile-name
         | #{l2.setName} 
       //h2.profile-tagline
       //  | #{person.tagline}
       //p.profile-bio
       //  | #{person.bio}
       //a.button.button-twitter(href=`${person.twitter}`)
       //  | Follow me on Twitter